@model PlMoblieConnection.sanpham
@*@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}*@

@*<h2>Details</h2>
    <h4>@Model.TenSanPham</h4>
    <img src="@Model.HinhAnh" />
    <h5><a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@Model.Gia</a></h5>*@

        <div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li><a href="products.html">Products</a> <span class="divider">/</span></li>
        <li class="active">product Details</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            <a href="@Model.HinhAnh" title="@Model.TenSanPham">
                <img src="@Model.HinhAnh" style="width:100%" alt="@Model.TenSanPham" />
            </a>
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                    </div>
                    <div class="item">
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                        <a href="@Model.HinhAnh"> <img style="width:29%" src="@Model.HinhAnh" alt="" /></a>
                    </div>
                </div>
                <!--
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                -->
            </div>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <span class="btn"><i class="icon-envelope"></i></span>
                    <span class="btn"><i class="icon-print"></i></span>
                    <span class="btn"><i class="icon-zoom-in"></i></span>
                    <span class="btn"><i class="icon-star"></i></span>
                    <span class="btn"><i class="icon-thumbs-up"></i></span>
                    <span class="btn"><i class="icon-thumbs-down"></i></span>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>@Model.TenSanPham </h3>
            <small> </small>
            <hr class="soft" />
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>@Model.Gia</span></label>
                    <div class="controls">
                        <input type="number" class="span1" placeholder="" />
                        <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class="icon-shopping-cart"></i></button>
                    </div>
                </div>
            </form>

            <hr class="soft" />
            <h4>100 items in stock</h4>
            <form class="form-horizontal qtyFrm pull-right">
                <div class="control-group">
                    <label class="control-label"><span>Color</span></label>
                    <div class="controls">
                        <select class="span2">
                            <option>Black</option>
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Brown</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>